.feature-dlg__wrapper {
    position: sticky;
    top: calc(#{$h_nav}* 2 + #{$mg-5});
    height: min-content;
}
.feature-dlg__content {
    height: 70vh;
    position: relative;
    padding: 40px;
    @include neu_box_sank($r_hard, var(--cl_bg_01), var(--cl_shadow_03), var(--cl_shadow_04), 8px, 10px);
    .tab__indicators {
        overflow: hidden;
        cursor: pointer;
        display: flex;
        list-style: none;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;
        font-size: $txt-lg;
        .tab {
            flex-grow: 1;
            text-align: center;
            &:hover,
            &.tab-active {
                color: var(--cl_theme_01);
            }
        }
    }
    [data-tab-content] {
        display: none;
        &.tab-active {
            display: block;
        }
    }
}
