.extend-section--btn{
    &::after{
        content: "\f105";
    }
    &.active::after{
        content: "\f107";
    }
}
.section-title{
    .extend-section--btn{
        display: flex;
        width: 50px;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
        border-radius: 20px;
        padding-right: 10px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.408);
        }
    }
}