//phần ít thay đổi
.sidebar__right{
    // border: 2px dashed violet;
    grid-column: span 0;
}

//phần thay đổi nhiều
.search-page__wrapper {
    display: grid;
    grid-column: span 21;
    // border: 2px dashed cyan;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
    .breadcrumb__wrapper {
        grid-column: span 12;
    }
    .search-rs__wrapper{
        grid-column: span 8;
        .search-rs__content{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 0 30px;
            .post-item__wrapper{
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                grid-template-rows: repeat(24, 1fr);
            }
            .post-item__thumbnail{
                grid-column: span 24;
                grid-row: span 12;
            }
            .post-item__date{
                grid-column: span 24;
                grid-row: span 2;
            }
            .post-item__title{
                grid-column: span 24;
                grid-row: span 6;
            }
            .post-item__author{
                grid-column: span 24;
                grid-row: span 4;
            }
        }
    }
    .affl-ads__wrapper{
        grid-column: span 4;
        .prod-item{
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            grid-template-rows: repeat(3, 1fr);
            picture{
                grid-column: 2 / span 4;
                grid-row: span 3;
            }
            .title{
                grid-column: 7 / span 16;
                grid-row: span 2;
            }
            .order-btn{
                grid-column: 16 / span 10;
                grid-row: span 1;
            }
        }
    }

}
